.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    gap: 0.9rem;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-bg);
}

.logo {
    position: relative;
    width: 6rem;
    height: 7rem;
}

.logoImg {
    object-fit: cover;
    object-position: center;
}

.section1h1 {
    font-size: 5.5rem;
    font-weight: bold;
}

.section1p {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--theme-text-color);
    text-shadow: var(--theme-text-shadow);
    background-color: var(--theme-bg);
    border-radius: 1rem;
    padding: 0.1rem 0.8rem;
}

.section1button {
    padding: 0.4rem 0.9rem;
    color: white;
    cursor: pointer;
    border-radius: 0.8rem;
    background-color: var(--theme-text-color);
    transition: all 200ms ease;
}

.section1button::after {
    display: none;
}

.dotLoader::after {
    content: '';
    display: inline-block;
    width: 1em;
    text-align: left;
    animation: dot-flash 1.2s steps(4, end) infinite;
}

@keyframes dot-flash {
    0% {
        content: '';
    }

    25% {
        content: '.';
    }

    50% {
        content: '..';
    }

    75% {
        content: '...';
    }

    100% {
        content: '';
    }
}


.section1button:hover {
    background-color: rgb(63, 59, 178);
}

/* .exampleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 5rem;
    box-sizing: border-box;
    height: 50%;
    gap: 2rem;
}

.exampleFolios {
    display: flex;
    gap: 5rem;
}

.exampleContainerh2 {
    font-size: 1.1rem;
    color: var(--theme-text-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--theme-bg);
}

.exampleVideo {
    position: relative;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 500ms ease;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.exampleVideo:hover {
    transform: scale(2);
    bottom: 1.5rem;
    z-index: 1;
} */


@media (max-width:389px) {
    .homepage {
        height: 100vh;
        width: 100%;
    }

    .section1 {
        height: 35%;
        gap: 0.9rem;
    }

    .logo {
        position: relative;
        width: 3.2rem;
        height: 3.8rem;
    }

    .section1h1 {
        font-size: 3.2rem;
    }

    .section1p {
        font-size: 0.8rem;
        text-shadow: var(--theme-text-shadow);
        background-color: var(--theme-bg);
        border-radius: 1rem;
        padding: 0rem 0.8rem;
    }

    .section1button {
        padding: 0.2rem 0.6rem;
        cursor: pointer;
        font-size: 0.6rem;
        border-radius: 0.3rem;
    }
}

@media (min-width:390px) and (max-width: 576px) {
    .homepage {
        height: 100vh;
        width: 100%;
    }

    .section1 {
        height: 50%;
        gap: 0.9rem;
        margin-bottom: 10rem;
    }

    .logo {
        position: relative;
        width: 4.8rem;
        height: 5.2rem;
    }

    .section1h1 {
        font-size: 4.3rem;
        border-radius: 2rem;
    }

    .section1p {
        font-size: 1rem;
        border-radius: 1rem;
        padding: 0rem 0.8rem;
    }

    .section1button {
        padding: 0.2rem 0.6rem;
        cursor: pointer;
        font-size: 0.8rem;
        border-radius: 0.4rem;
    }
}