.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
    border-bottom: 0.1rem solid rgba(125, 121, 231, 0.429);
    height: 10vh;
    background-color: rgb(228, 233, 255);
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    font-weight: bold;
    height: 3rem;
}

.logo {
    position: relative;
    height: 3.3rem;
    width: 3.3rem;
}

.logoImg {
    object-fit: cover;
    object-position: center;
}

.userProfile {
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
}

.dropdownContainer {
    display: flex;
    flex-direction: column;
}

.dropdownDefaultButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.4rem;
    font-size: 1.1rem;
    border-radius: 8px;
    padding: 0.2rem 0.6rem;
    background-color: rgba(47, 85, 138, 1);
    color: white;
}

.dropdown {
    position: absolute;
    top: 4rem;
    right: 2.5rem;
    border-radius: 8px;
    color: var(--theme-text-color);
    background-color: rgba(47, 85, 138, 0.5);
}

.dropdownUl {
    display: flex;
    flex-direction: column;
}

.dropdown ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 0.7rem;
    border-radius: 8px;
    border-bottom: 1px solid var(--theme-text-color);
}

.dropdown ul li:first-child:hover {
    background-color: rgba(47, 85, 138, 0);
}

.dropdown ul li:hover {
    background-color: rgba(47, 85, 138, 0.3);
}

.login button {
    cursor: pointer;
    font-size: 1.1rem;
    background-color: var(--theme-text-color);
    color: white;
    border-radius: 0.3rem;
    padding: 0.3rem 1.3rem;
    transition: all 300ms ease;
}

.login button:hover {
    background-color: rgb(63, 59, 178);
}



@media (max-width:389px) {
    .nav {
        padding: 0rem 0.4rem;
        height: 8vh;
    }

    .logoContainer {
        font-size: 1.6rem;
        height: 3rem;
    }

    .logo {
        position: relative;
        height: 2.1rem;
        width: 2.1rem;
    }

    .logoImg {
        object-fit: cover;
        object-position: center;
    }

    .userProfile {
        height: 1.2rem;
        width: 1.2rem;
        border-radius: 50%;
    }

    .dropdownContainer {
        display: flex;
        flex-direction: column;
        z-index: 9999;
    }

    .dropdownDefaultButton {
        display: flex;
        align-items: center;
        gap: 0.1rem;
        font-size: 0.7rem;
        border-radius: 6px;
        padding: 0.1rem 0.4rem;
    }

    .dropdown {
        position: absolute;
        top: 2.3rem;
        right: 0.4rem;
        border-radius: 6px;
        /* background-color: rgba(47, 85, 138, 0.7);  */
    }

    .dropdownUl {
        display: flex;
        flex-direction: column;
    }

    .dropdown ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.2rem 0.3rem;
        font-size: 0.6rem;
        border-radius: 5px;
        border-bottom: 1px solid var(--theme-text-color);
    }

    .dropdown ul li:first-child:hover {
        background-color: rgba(47, 85, 138, 0);
    }

    .dropdown ul li:hover {
        background-color: rgba(47, 85, 138, 0.3);
    }

    .login button {
        font-size: 0.7rem;
        border-radius: 0.2rem;
        padding: 0.2rem 0.7rem;
    }
}

@media (min-width:390px) and (max-width: 576px) {
    .nav {
        padding: 0rem 0.6rem;
        height: 8vh;
    }

    .logoContainer {
        font-size: 1.8rem;
        height: 3rem;
    }

    .logo {
        position: relative;
        height: 2.5rem;
        width: 2.5rem;
    }

    .logoImg {
        object-fit: cover;
        object-position: center;
    }

    .userProfile {
        height: 1.4rem;
        width: 1.4rem;
        border-radius: 50%;
    }

    .dropdownContainer {
        display: flex;
        flex-direction: column;
        z-index: 9999;
    }

    .dropdownDefaultButton {
        display: flex;
        align-items: center;
        gap: 0.1rem;
        font-size: 0.7rem;
        border-radius: 6px;
        padding: 0.2rem 0.5rem;
    }

    .dropdown {
        position: absolute;
        top: 2.6rem;
        right: 0.5rem;
        border-radius: 7px;
        color: white;
        background-color: rgba(47, 85, 138, 0.8);
    }

    .dropdownUl {
        display: flex;
        flex-direction: column;
    }

    .dropdown ul li {
        padding: 0.3rem 0.5rem;
        font-size: 0.75rem;
        border-radius: 5px;
    }

    .login button {
        font-size: 0.8rem;
        color: white;
        border-radius: 0.3rem;
        padding: 0.2rem 0.7rem;
    }
}


@media (min-width: 577px) and (max-width: 767px) {
    .nav {
        padding: 0.4rem 0.9rem;
        height: 9vh;
    }

    .logoContainer {
        font-size: 1.8rem;
        height: 3rem;
    }

    .logo {
        position: relative;
        height: 2.5rem;
        width: 2.5rem;
    }

    .logoImg {
        object-fit: cover;
        object-position: center;
    }

    .userProfile {
        height: 1.4rem;
        width: 1.4rem;
        border-radius: 50%;
    }

    .dropdownContainer {
        display: flex;
        flex-direction: column;
        z-index: 9999;
    }

    .dropdownDefaultButton {
        display: flex;
        align-items: center;
        gap: 0.1rem;
        font-size: 0.7rem;
        border-radius: 6px;
        padding: 0.2rem 0.5rem;
    }

    .dropdown {
        position: absolute;
        top: 2.6rem;
        right: 0.5rem;
        border-radius: 7px;
    }

    .dropdownUl {
        display: flex;
        flex-direction: column;
    }

    .dropdown ul li {
        padding: 0.3rem 0.5rem;
        font-size: 0.75rem;
        border-radius: 5px;
    }

    .login button {
        font-size: 0.8rem;
        border-radius: 0.3rem;
        padding: 0.2rem 0.7rem;
    }
}


@media (min-width: 767px) and (max-width: 991px) {
    .nav {
        padding: 0.6rem 1.5rem;
        height: 10vh;
    }

    .logoContainer {
        font-size: 2.2rem;
        height: 3rem;
    }

    .logo {
        position: relative;
        height: 3rem;
        width: 3rem;
    }

    .logoImg {
        object-fit: cover;
        object-position: center;
    }

    .userProfile {
        height: 1.6rem;
        width: 1.6rem;
        border-radius: 50%;
    }

    .dropdownContainer {
        display: flex;
        flex-direction: column;
        z-index: 9999;
    }

    .dropdownDefaultButton {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        font-size: 0.9rem;
        border-radius: 6px;
        padding: 0.3rem 0.6rem;
    }

    .dropdown {
        position: absolute;
        top: 3rem;
        right: 0.9rem;
        border-radius: 7px;
    }

    .dropdownUl {
        display: flex;
        flex-direction: column;
    }

    .dropdown ul li {
        padding: 0.3rem 0.5rem;
        font-size: 0.9rem;
        border-radius: 5px;
    }

    .login button {
        font-size: 1rem;
        border-radius: 0.3rem;
        padding: 0.3rem 0.8rem;
    }
}