.faqSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 2rem;
    max-width: 100%;
    padding-top: 10vh;
    padding-bottom: 7vh;
}

.faqTitle {
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

.faqContainer {
    width: 65%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.faqItem {
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    z-index: 990;
}

.faqQuestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1.5rem;
    cursor: pointer;
    font-weight: lighter;
    transition: background-color 0.3s ease;
    user-select: none;
}

.faqQuestion h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    flex: 1;
}

.plusIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: lighter;
    font-family:'Times New Roman', Times, serif;
    color: black;
    transition: transform 0.3s ease, color 0.3s ease;
}

.rotated {
    transform: rotate(45deg);
}

.faqAnswer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.faqAnswer.open {
    max-height: 200px;
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.faqAnswer p {
    margin: 0;
    padding-top: 0.5rem;
    color: #666;
    line-height: 1.6;
    font-size: 1rem;
}

@media (max-width: 389px) {
    .faqSection {
        gap: 1rem;
        padding: 2rem 0rem;
        max-width: 100%;
        padding: 8vh 2rem 5vh 2rem;
    }
    
    .faqTitle {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    }
    
    .faqContainer {
        width: 100%;
    }
    
    .faqItem {
        overflow: hidden;
    }
    
    .faqQuestion {
        padding: 0.2rem 0.5rem;
        cursor: pointer;
        font-weight: lighter;
        transition: background-color 0.3s ease;
        user-select: none;
        background-color: rgb(255, 255, 255);
    }
    
    .faqQuestion h2 {
        margin: 0;
        font-size: 0.7rem;
        flex: 1;
    }
    
    .plusIcon {
        font-size: 1.5rem;
        font-weight: lighter;
        transition: transform 0.3s ease, color 0.3s ease;
    }

    .faqAnswer.open {
        max-height: 200px;
        padding: 0 0.5rem 0.5rem 0.5rem;
    }
    
    .faqAnswer p {
        margin: 0;
        line-height: 1.6;
        font-size: 0.6rem;
        padding-top: 0.1rem;
    }
}

@media (min-width:390px) and (max-width: 576px) {
    .faqSection {
        gap: 1rem;
        padding: 6.5vh 0rem 3rem 0rem;
        max-width: 100%;
    }
    
    .faqTitle {
        font-size: 2rem;
        padding: 0 1rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    
    .faqContainer {
        width: 75%;
        gap: 1rem;
    }
    
    .faqItem {
        border-radius: 5px;
        overflow: hidden;
    }
    
    .faqItem:hover {
        box-shadow: none;
    }
    
    .faqQuestion {
        padding: 0.2rem 0.5rem;
        cursor: pointer;
        font-weight: lighter;
        transition: background-color 0.3s ease;
        user-select: none;
    }
    
    .faqQuestion h2 {
        margin: 0;
        font-size: 0.85rem;
        flex: 1;
    }
    
    .plusIcon {
        font-size: 1.7rem;
        font-weight: lighter;
        transition: transform 0.3s ease, color 0.3s ease;
    }

    .faqAnswer.open {
        max-height: 200px;
        padding: 0 0.5rem 0.5rem 0.5rem;
    }
    
    .faqAnswer p {
        margin: 0;
        line-height: 1.4;
        font-size: 0.9rem;
    }
}

@media (min-width:577px) and (max-width: 767px) {
    .faqSection {
        gap: 1rem;
        padding: 9vh 2rem 4rem 2rem;
        max-width: 100%;
    }
    
    .faqTitle {
        font-size: 3.0rem;
        margin-bottom: 1rem;
    }
    
    .faqContainer {
        width: 75%;
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        gap: 1rem;
    }
    
    .faqItem {
        border-radius: 5px;
        overflow: hidden;
    }
    
    .faqItem:hover {
        box-shadow: none;
    }
    
    .faqQuestion {
        padding: 0.2rem 0.5rem;
    }
    
    .faqQuestion:hover {
        background-color: rgb(245, 237, 255);
    }
    
    .faqQuestion h2 {
        margin: 0;
        font-size: 1rem;
        flex: 1;
    }
    
    .plusIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
    }
    
    .rotated {
        transform: rotate(45deg);
    }
    
    .faqAnswer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, padding 0.3s ease;
        background-color: #fff;
    }
    
    .faqAnswer.open {
        max-height: 200px;
        padding: 0 0.5rem 0.5rem 0.5rem;
    }
    
    .faqAnswer p {
        margin: 0;
        padding-top: 1rem;
        line-height: 1.2;
        font-size: 0.9rem;
    }    
}

@media (min-width:767px) and (max-width: 991px) {
    .faqSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 10vh 2rem 4rem 2rem;
        max-width: 100%;
    }
    
    .faqTitle {
        font-size: 3.2rem;
        margin-bottom: 0.7rem;
    }
    
    .faqContainer {
        width: 80%;
        gap: 1rem;
    }
        
    .faqQuestion {
        padding: 0.4rem 1.2rem;
    }
        
    .faqQuestion h2 {
        margin: 0;
        font-size: 1.1rem;
        font-weight: 600;
        flex: 1;
    }
    
    .plusIcon {
        font-size: 2.1rem;
    }
    
    .rotated {
        transform: rotate(45deg);
    }
    
    .faqAnswer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, padding 0.3s ease;
        background-color: #fff;
    }
    
    .faqAnswer.open {
        max-height: 200px;
        padding: 0 1.5rem 1.5rem 1.5rem;
    }
    
    .faqAnswer p {
        margin: 0;
        padding-top: 1rem;
        line-height: 1.6;
        font-size: 1rem;
    }   
}