.howtoUseSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10vh;
    padding-bottom: 7vh;
}

.howtoUseTitle {
    font-size: 3.2rem;
    font-weight: bold;
}

.howtoUseTitle b{
    background: linear-gradient(135deg, #5f10bf, #106dbf);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.howtoUseContainer {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63%;
}


.howtoUseLine {
    width: 35%;
    height: 3px;
    background-color: black;
}

.howtoUseContainer p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #5f10bf;
    color: white;
    border: 3px solid black;
    font-size: 1.2rem;
    border-radius: 50%;
    padding: 0.9rem;
    width: 70px;
    height: 70px;
}

.howtoUseCards {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 81%;
    /* gap: 5rem; */
}

.howtoUseCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    color: var(--theme-text-color);
    font-weight: bold;
}

.howtoUseCard h2 {
    color: black;
    font-weight: lighter;
}

.howtoUseCard h3 {
    text-transform: uppercase;
    font-size: 0.8rem;
}

@media (max-width: 389px){
    .howtoUseSection {
        gap: 1rem;
        padding: 3vh 2rem 3rem 2rem;
    }
    
    .howtoUseTitle {
        font-size: 1.8rem;
        text-align: center;
    }
    
    .howtoUseContainer {
        margin-top: 2rem;
        width: 90%;
    }
    
    
    .howtoUseLine {
        width: 35%;
        height: 2px;
    }
    
    .howtoUseContainer p {
        border: 2px solid black;
        font-size: 1rem;
        padding: 0.9rem;
        width: 50px;
        height: 50px;
    }
    
    .howtoUseCards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0;
    }
    
    .howtoUseCard {
        width: 21%;
        font-weight: bold;
        align-items: center;
    }
    
    .howtoUseCard h2 {
        font-size: 0.7rem;
    }
    
    .howtoUseCard h3 {
        font-size: 0.6rem;
        text-align: center;
    }
}

@media (min-width:390px) and (max-width: 576px) {
    .howtoUseSection {
        gap: 1rem;
        padding: 3.5vh 1rem 2rem 1rem;
    }
    
    .howtoUseTitle {
        font-size: 2rem;
        text-align: center;
    }
    
    .howtoUseContainer {
        margin-top: 2rem;
        width: 95%;
    }
    
    
    .howtoUseLine {
        width: 35%;
        height: 2px;
    }
    
    .howtoUseContainer p {
        border: 2px solid black;
        font-size: 1.1rem;
        padding: 0.9rem;
        width: 50px;
        height: 50px;
    }
    
    .howtoUseCards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0;
    }
    
    .howtoUseCard {
        width: 21%;
        font-weight: bold;
        align-items: center;
    }
    
    .howtoUseCard h2 {
        font-size: 0.85rem;
    }
    
    .howtoUseCard h3 {
        font-size: 0.7rem;
        text-align: center;
    }
}

@media (min-width:577px) and (max-width: 767px) {
    .howtoUseSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-family: 'Times New Roman', Times, serif;
        padding-top: 9vh;
        padding-bottom: 4rem;
    }
    
    .howtoUseTitle {
        font-size: 3.0rem;
        font-weight: bold;
    }

    .howtoUseContainer {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75%;
    }
    
    
    .howtoUseLine {
        width: 35%;
        height: 3px;
        background-color: black;
    }
    
    .howtoUseContainer p {
        font-size: 1rem;
        padding: 0.9rem;
        width: 60px;
        height: 60px;
    }
    
    .howtoUseCards {
        width: 100%;
    }
    
    .howtoUseCard {
        width: 33%;
    }
    
    .howtoUseCard h2 {
        font-size: 0.9rem;
    }
    
    .howtoUseCard h3 {
        text-transform: uppercase;
        font-size: 0.7rem;
    }    
}

@media (min-width:767px) and (max-width: 991px) {
    .howtoUseSection {
        padding-top: 10vh;
        padding-bottom: 4rem;
    }
    
    .howtoUseTitle {
        font-size: 3.2rem;
    }
    
    .howtoUseContainer {
        width: 72%;
    }
    
    .howtoUseLine {
        width: 35%;
        height: 3px;
    }

    .howtoUseCards{
        width: 100%;
    }
}